body{
 font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg, #d8b4fe, #e9d5ff);
color:#2d2d2d;
text-align:center;
}
h1{
font-size:42px;
margin-top:25px;
color:#6a0dad;
text-shadow:2px 2px 8px rgba(0, 0, 0, 0.2);
}
img{
width:500px;
height:400px;
border-radius:18px;
margin-top:20px;
box-shadow:0px 6px 18px reba(0,0,0,0.25);
transition:0.3s;
}
img:hover{
transform: scale(1.03);
}
li{
font-size:22px;
margin:12px 0;
font-weight:bold;
color:#4b0082
}
a{
background:#8a2be2;
color:white;
padding:12px 24px;
border-radius:10px;
font-size:18px;
transition:0.3s;
font-weight:bold;
}
a:hover{
background:#6a0dad;
color:#fff8dc;
}
p{
margin-top: 30px;
}
